/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$body-overflow-y: auto;

$electric-blue: #00FFFF;
$crimson: #dc143c;
$metallic-silver: #c0c0c0;
$nero-black: #1E1E1E;

$primary: $electric-blue;
$success: $crimson;
$info: $nero-black;

$family-sans-serif: "PT Sans", sans-serif;
$family-secondary: "Orbitron", serif;

$grey-dark: hsl(0, 0%, 96%);
$widescreen-enabled: true;
$fullhd-enabled: true;
$gap:64px;

$body-background-color: $nero-black;
$control-border-width: 2px;

$size-1: 4rem;
$size-2: 3.5rem;
$size-3: 3rem;
$size-4: 2rem;
$size-5: 1.5rem;
$size-6: 1rem;
$size-7: 0.75rem;
